.banner {
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 36vh;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.banner-text-area > * {
  z-index: 1;
}

@media screen and (max-width: 750px) {
  .banner {
    background-size: contain;
  }

  .banner:before {
    height: 30vh;
  }

  .banner-text-area {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 0.45rem;
  }
}
