.banner {
  height: 56vh;
  background-position: left;
  background-repeat: none;
  background-size: cover;
}

.banner:before {
  content: "";
  background: linear-gradient(to top, black, transparent);
  position: absolute;
  left: 0;
  height: 56vh;
  width: 100%;
}

.banner-text-area {
  width: 36%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.banner-text-area > * {
  z-index: 1;
}
